
# cinnamon directories
Varcindir="$HOME/.local/share/cinnamon/"
Varcinconfigdir="$HOME/.cinnamon/configs/"
Varcinpicdir="$HOME/Pictures/"
Varcinfontsdir="$HOME/.fonts/"
Varciniconsdir="$HOME/.icons/"
Varcinthemesdir="$HOME/.themes/"

# root directories
Varrootthemesdir="/usr/share/themes/"
Varrooticonsdir="/usr/share/icons/"

# backup directories
Varbasedir="$1"
Varcinbkpdir="$Varbasebackupdir/cinnamon/"
Varcinconfigbkpdir="$Varbasebackupdir/configs/"
Varcinpicbkpdir="$Varbasebackupdir/Pictures/"
Varcinfontsbkpdir="$Varbasebackupdir/fonts/"
Varciniconsbkpdir="$Varbasebackupdir/icons/"
Varcinthemesbkpdir="$Varbasebackupdir/themes/"


# Custom Config files
CONFIG="$Varbasebackupdir/CONFIG"
CINCONFIG="$Varbasebackupdir/CINNAMONCONFIG"
SYSTHEMES="$XDG_CURRENT_DESKTOP.themes"
SYSICONS="$XDG_CURRENT_DESKTOP.icons"